

@media only screen  and (max-width:620px){
    .feed-container{
        margin-left: 0%; /* Resetting the left margin */
        justify-content: flex-start;
        width: 100%;
    }
    .comp {
        width: 100%; /* Optionally, you can set the width to 100% to occupy the entire width */
    }
    .upload-file{
        margin-left: 0rem;
    }

    .upload-video-container{
        margin-left:"0rem";
     }
    
}

.upload-video-container{
   margin-top :"5rem";
   margin-bottom:"1rem";
   margin-left:"6.5rem";
}

.feed-container comp{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center
}
.post-feed{
    width:100%;
    justify-content: center
}
